<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Submit New Todo</title>
</head>
<body>
<div>
    <h1>Welcome! Submit a new Todo here!</h1>
</div>
<div>
    <form method="post" action="/todo/add" th:object="${todo}">
        <div>
            <label for="title">Todo's title: </label>
            <input id="title" th:field="*{title}">
        </div>
        <div>
            <button>Submit new todo!</button>
        </div>
    </form>
</div>
</body>
</html>