<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Todo</title>
</head>
<body>
<div>
    <h1>Feel free to edit your todo here!</h1>
</div>
<div th:object="${todo}">
    <form action="#" th:action="@{/todo/{id}/edit(id=*{id})}" method="post">
        <div>
            The todo itself:<br>
            <textarea th:text="*{title}" th:field="*{title}"></textarea><br>
        </div>
        <div>
            <label for="urgent">Is it urgent?</label>
            <input id="urgent" type="checkbox" th:checked="*{urgent}" th:field="*{urgent}">
        </div>
        <div>
            <label for="done">Is it done?</label>
            <input id="done" type="checkbox" th:checked="*{done}" th:field="*{done}">
        </div>
        <div>
            <button>Submit the changes!</button>
        </div>
    </form>
</div>
</body>
</html>