<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Todos</title>
</head>
<body>
<div>
    <h1>TODOS FOR TODAY:</h1>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="singletodo : ${todos}" th:object="${singletodo}">
            <td th:text="*{id}"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{done}"></td>
            <td th:text="*{urgent}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>