<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Greeting Submission Practice</title>
</head>
<body>
<div>
    <h1>Submission Form</h1>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
        <div>
            <label for="greeting-id">Id:</label>
            <input type="text" id="greeting-id" name="greeting-id" th:field="*{id}">
        </div>
        <div>
            <label for="greeting-content">Message:</label>
            <input type="text" id="greeting-content" name="greeting-content" th:field="*{content}">
        </div>
        <div>
            <button type="submit" value="submit">Submit</button>
        </div>
        <div>
            <button type="reset" value="reset">Reset</button>
        </div>
    </form>
</div>
</body>
</html>