<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Useful utilities</title>
</head>
<body>
<div>
    <h1>Welcome to useful utilities!</h1>
</div>
<div>
    <ul>
        <li><a href="/useful/colored">Colored Background</a></li>
        <li><a href="/useful/email?email=is@this.valid">This should be a valid email</a></li>
        <li><a href="/useful/email?email=not_valid_email.com">This should be an INVALID email</a></li>
        <form method="post" action="/useful/decoder">
            <li>
                <label for="decoder">Text to be decoded: </label>
                <input id="decoder" name="textToDecode">
            </li>
            <li>
                <label for="number">Number to be caesar'd with: </label>
                <input id="number" name="number">
            </li>
            <button>ENCODE</button>
        </form>
    </ul>
</div>
</body>
</html>