<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Multiple Bank Accounts</title>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>The Bank Accounts of Lion King Characters</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
            <th>Status</th>
            <th>Good/Bad guy</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${bankAccounts}" th:object="${account}">
            <td th:text="${accountStat.index} + 1"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{#numbers.formatDecimal(balance, 0, 2, 'POINT')} + ' ' + *{currency}"></td>
            <td th:text="*{animalType}"></td>
            <td th:if="*{isKing()}"><img src="images/crown.png"/></td>
            <td th:unless="*{isKing()}"></td>
            <td th:text="*{isGoodGuy()} ? 'Good boi' : 'Baaaad boi'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>