<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Multiple Bank Accounts</title>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>The Bank Accounts of Lion King Characters</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
            <th>Status</th>
            <th>Good/Bad guy</th>
            <th>Donate</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${bankAccounts}" th:object="${account}">
            <td th:text="${accountStat.index} + 1"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{#numbers.formatDecimal(balance, 0, 2, 'POINT')} + ' ' + *{currency}"></td>
            <td th:text="*{animalType}"></td>
            <td th:if="*{isKing()}"><img src="images/crown.png"/></td>
            <td th:unless="*{isKing()}"></td>
            <td th:text="*{isGoodGuy()} ? 'Good boi' : 'Baaaad boi'"></td>
            <td>
                <form method="post" action="/increase">
                    <input type="submit" th:value="'Donate ' + *{name}">
                    <input type="hidden" th:value="${accountStat.index}" name="toIncrease">
                </form>
            </td>
            <td>
                <form method="post" action="/remove">
                    <input type="submit" th:value="'Remove ' + *{name}">
                    <input type="hidden" th:value="${accountStat.index}" name="toRemove">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form">
    <form method="post" action="/addaccount">
        <div>
            <label for="owner">Owner: </label>
            <input id="owner" type="text" name="owner" required>
        </div>
        <div>
            <label for="animaltype">Animal Type: </label>
            <input id="animaltype" type="text" name="animaltype" required>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>