<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Need For Sequel: Most Wanted</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Title</th>
            <th>Company</th>
            <th>Income (in million)</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}" th:object="${game}">
            <td th:text="${gameStat.index + 1}"></td>
            <td th:text="|VG*{id}|"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{company}"></td>
            <td th:text="*{income}"></td>
            <td th:text="*{age}"></td>
        </tr>
        </tbody>
    </table>
</div>
<dvi>
    <form action="/filter" method="get">
        <div>
            <label for="age">Age:</label>
            <select name="ageOption">
                <option value="greater">greater than or equals</option>
                <option value="lesser">lesser</option>
            </select>
            <input id="age" type="number" name="ageValue">
        </div>
        <div>
            <label for="income">Income:</label>
            <select name="incomeOption">
                <option value="greater">greater than or equals</option>
                <option value="lesser">lesser</option>
            </select>
            <input id="income" type="number" name="incomeValue">
        </div>
        <button>Filter!</button>
    </form>
</dvi>
</body>
</html>