<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sign up!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">
<div>
    <h1 class="page-header">Welcome to Monumental Manatee Club Sign-up!
        <br>
        <small>Please sign up!</small>
    </h1>
</div>
<div>
    <form>
        <label for="username">Username</label><br>
        <input id="username" type="text" name="username" placeholder="Give a username here"><br>
        <label for="password">Password</label><br>
        <input id="password" type="password" name="password" placeholder="Set up a password here"><br>
        <label for="secondPassowrd">Password again</label><br>
        <input id="secondPassowrd" type="password" name="secondPassword" placeholder="The password again"><br>
        <button class="btn btn-success">Log in</button>
    </form>
</div>
<div>
    <a href="/login"><input type="submit" class="btn btn-warning" value="Back to login"></a>
</div>
</body>
</html>