<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://wwww.thymeleaf.org">
    <title>Green Fox Club</title>
</head>
<body>
<div id="information">
    <ul>
        <li>Information</li>
    </ul>
</div>
<div id="fox-picture">
    <img src="../images/greenfox.png">
</div>
<div id="status">
    <p th:text="|This is ${petname}. Currently living on pizza and lemonade. He knows 2 tricks.|"></p>
</div>
<div id="tricks">
    <h1>Known tricks</h1>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</div>
</body>
</html>