<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nutrition Store</title>
</head>
<body>
<div id="options" th:object="${fox}">
    <ul>
        <li><a th:href="|/?name=*{name}|">Information</a></li>
        <li><a th:href="|/nutritionStore?name=*{name}|">Nutrition Store</a></li>
        <li><a th:href="|/trickCenter?name=*{name}|">Trick Center</a></li>
    </ul>
</div>
<div>
    <h1 th:text="|Welcome to ${fox.name}'s Nutrition Store!|"></h1>
</div>
<div>
    <form method="post" action="#" th:action="@{/nutritionStore}" th:object="${fox}">
        <div>
            Food:
            <select name="food">
                <option th:each="fooditem : ${foods}" th:utext="${fooditem}" th:value="${fooditem}"></option>
            </select>
        </div>
        <div>
            Drink:
            <select name="drink">
                <option th:each="drinkitem : ${drinks}" th:utext="${drinkitem}" th:value="${drinkitem}"></option>
            </select>
        </div>
        <div>
            <input type="submit" value="SUBMIT">
            <input type="hidden" name="name" th:value="*{name}">
        </div>
    </form>
</div>
</body>
</html>