<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nutrition Store</title>
</head>
<body>
<div>
    <h1 th:text="|Welcome to ${fox.name}'s Nutrition Store!|"></h1>
</div>
<div>
    <form method="post" action="#" th:action="@{/nutritionStore}" th:object="${fox}">
        <div>
            <p>Food:</p>
            <select name="food" th:field="*{food}">
                <option th:each="food : ${foods}" th:text="${food}" th:value="${food}" th:default="*{food}"></option>
            </select>
        </div>
        <div>
            <p>Drink</p>
            <select name="drink" th:field="*{drink}">
                <option th:each="drink : ${drinks}" th:text="${drink}" th:value="${drink}" th:default="*{drink}"></option>
            </select>
        </div>
        <div>
            <input th:type="submit" th:text="|Submit *{name}'s new Food and drink|"/>
            <input th:type="hidden" name="name" th:value="${fox.name}">
        </div>
    </form>
</div>
</body>
</html>